# remove this line before edit the example env
__REMOVE_THIS_BEFORE_EDIT__=

# get them from my.telegram.org
API_ID=
API_HASH=

# get this by using botfather
BOT_TOKEN=

# pyrogram userbot tokens
# you can add whatever you want
# but you have to set the
# MAX_ASSISTANT_COUNT variable
MAX_ASSISTANT_COUNT=4
ASSISTANT_TOKEN1=
ASSISTANT_TOKEN2=
ASSISTANT_TOKEN3=
ASSISTANT_TOKEN4=

# Bot will use proxies to download contents
BOT_USE_PROXY=False

# YT-DLP will use HTTPX backend instead of Urllib or Requests for yt-dlp
YTDL_USE_HTTPX=True

# YT-DLP will use cookies if you provide a cookie file
YTDL_COOKIE_FILE=

# Use invidious for YouTube
BOT_USE_INVIDIOUS=True
BOT_INVIDIOUS_LEGACY_VIDEO=True

# Remove files if no longer used
BOT_REMOVE_FILE_AUTO=True

# Bot owner's user id
BOT_OWNER=

# Bot's default language
BOT_DEFAULT_LANGUAGE=tr

# Spam timeout for bot, set 0 or negative value to disable
BOT_SPAM_TIMEOUT=2

# Use known formats like 144 240 360 480 720 1080 2160.
# Ignored if downloading with invidious and the legacy video mode is enabled.
BOT_MAX_VIDEO_QUALITY=1080

# Ignore progress bars (useful for flood wait)
BOT_IGNORE_PROGRESS=False
