# remove this line before edit the example env
__REMOVE_THIS_BEFORE_EDIT__=

# get them from my.telegram.org
API_ID=
API_HASH=

# get this by using botfather
BOT_TOKEN=

# pyrogram userbot tokens
# you can add whatever you want
# but you have to set the
# MAX_USERBOT_COUNT variable
MAX_USERBOT_COUNT=4
USERBOT_TOKEN1=
USERBOT_TOKEN2=
USERBOT_TOKEN3=
USERBOT_TOKEN4=

# Bot owner's user id
BOT_OWNER=
