# remove this line before edit the example env
__REMOVE_THIS_BEFORE_EDIT__=

# get them from my.telegram.org
API_ID=
API_HASH=

# get this by using botfather
BOT_TOKEN=

# pyrogram userbot tokens
# you can add whatever you want
# but you have to set the
# MAX_ASSISTANT_COUNT variable
MAX_ASSISTANT_COUNT=4
ASSISTANT_TOKEN1=
ASSISTANT_TOKEN2=
ASSISTANT_TOKEN3=
ASSISTANT_TOKEN4=

# Bot will use proxies to download contents
BOT_USE_PROXY=False
BOT_PROXY_COUNTRY=

# Bot owner's user id
BOT_OWNER=
